# Copie este arquivo para .env e preencha os valores

NODE_ENV=production
PORT=3131

# Senha de acesso ao dashboard
DASHBOARD_USER=artezian
DASHBOARD_PASS=troque_essa_senha

# API Stays
STAYS_BASE_URL=https://artezian.stays.net
STAYS_AUTH_BASE64=NWI1YmU2NTY6ZmU0OGU3MzA=

# API Datacrazy
DATACRAZY_BASE_URL=https://api.g1.datacrazy.io
DATACRAZY_API_KEY=sua_chave_aqui
